.ModalBackground {
  background: rgba(32,35,41,.8);
  padding-top: 0px;
  padding-bottom: 60px;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: white;
}

.ModalBackground p {
  text-align: center;
}

.ModalBackground button {
  background-color: brown;
  color: aliceblue;

}